# Generate a random secret: https://generate-secret.vercel.app/32 or `openssl rand -base64 32`
AUTH_SECRET=90fed875f5fbc7101fb0f0e2272d9ff7

# The following keys below are automatically created and
# added to your environment when you deploy on vercel

# Get your xAI API Key here for chat and image models: https://console.x.ai/
XAI_API_KEY=xai-vXKsXIyH1ZY2zAA2bG8tAcHn3wQoI40bmGIxxaHInk0pV9L5uIawvP6uApAzMzQRfPANorQfnQG0aUSy

# Instructions to create a Vercel Blob Store here: https://vercel.com/docs/storage/vercel-blob
BLOB_READ_WRITE_TOKEN=****

# Instructions to create a database here: https://vercel.com/docs/storage/vercel-postgres/quickstart
POSTGRES_URL=****
